[submodule "x/emacs-libvterm"]
	path = x/emacs-libvterm
	url = https://github.com/akermu/emacs-libvterm.git
[submodule "x/tree-sitter"]
	path = x/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter.git
[submodule "x/org-roam"]
	path = x/org-roam
	url = https://github.com/org-roam/org-roam.git
[submodule "x/ds4"]
	path = x/ds4
	url = https://github.com/nkkarthik/ds4
