[submodule "x/emacs-libvterm"]
	path = x/emacs-libvterm
	url = https://github.com/akermu/emacs-libvterm.git
[submodule "x/tree-sitter"]
	path = x/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter.git
